.mr-16px {
  margin-right: 16px;
}

.mr-12px {
  margin-right: 12px;
}

.mr-24px {
  margin-right: 24px;
}

.mr-26px {
  margin-right: 26px;
}
.mb-0px {
  margin-bottom: 0px !important;
}

.mb-8px {
  margin-bottom: 8px;
}

.mb-16px {
  margin-bottom: 16px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-48px {
  margin-bottom: 48px;
}

.mb-80px {
 margin-bottom: 114px;
}

.mb-350px {
  margin-bottom: 350px;
}


